/*Smartphones*/
@media screen and (min-width: 321px) {


.item{
  width: 100%;
}


/*iPad*/
@media screen and (min-width: 768px) {


.item{
  width: 30%;
}




/*Desktop*/
@media screen and (min-width: 1024px) {


.item{
  width: 30%;
}