/*Smartphones*/
@media screen and (min-width: 321px) {

.main-logo, 
.main-nav {
	display: block;
	text-align: center;
}

.main-nav {
	padding-left: 0px;

}

/*iPad and Desktop*/
@media screen and (min-width: 768px) {

/****************************
HEADER
****************************/

.main-nav li {
	display: inline-block;
	margin-left: 20px;
}


/*Desktop*/
@media screen and (min-width: 1024px) {

/****************************
PAGE: WRITING
****************************/

#gallery li {
  max-width: 500px;
}



}